# Maven
target/
*.class
*.jar
*.war
*.ear

# IDE files
.idea/
*.iml
.eclipse
.classpath
.project
.settings/
*.sts4-cache

# OS files
.DS_Store
Thumbs.db

# Logs
*.log
logs/

# Spring Boot
spring-shell.log
